img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    transform: rotate(7deg);
}

img:hover {
    transform: rotate(7deg);
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
