<p>
  Dashboard
</p>

<p>Create note here : </p>
<div></div>

<input #text type="text" value="Note text ..">
<input #password type="text" >
<input type="button" (click)="createNote(text.value, password.value)"  value="Create Note">
<p *ngIf="noteCreated">Note created !</p>

<p>Notes : </p>
<table *ngIf="notes">

  <tr>
    <th>Text</th>
    <th>Password</th>
    <th>Link</th>
    <th>Update Note</th>
  </tr>

  <tr *ngFor="let note of notes">
    <th>{{note.text}}</th>
    <th *ngIf="note.password != 'any'">{{note.password}}</th>
    <th *ngIf="note.password == 'any'">-</th>
    <th>
      <input type="button" value="Get Link" (click)="getLink(note.id)">
    </th>
    <th>
      <input type="button" value="Update note" (click)="showUpdateNote(note)">
    </th>

  </tr>

</table>

<div *ngIf="selectedNote">

<input #textUpdate type="text" value="{{selectedNote.text}}" >
<input #passwordUpdate type="text" value="{{selectedNote.password}}" >
<input type="button" (click)="updateNote(textUpdate.value, passwordUpdate.value)" value="Update Note">
<p *ngIf="noteCreated">Note created !</p>

</div>
